<div class="author">
    <figure class="author-avatar"><img class="avatar-image" src="{{author.image}}" alt=""></figure>
    <header class="author-name">{{author.name}}</header>
    <p class="author-bio">{{author.bio}}</p>
    {{#if author.location}} <p><small>{{author.location}}</small></p> {{/if}}
</div>