 <footer id="main-footer"><p>Free <a href="http://ghost.org" title="Try Ghost" rel="external">Ghost</a> theme designed and coded by <a href="https://twitter.com/damianmuti" title="Go to @damianmuti's Twitter" rel="external">@damianmuti</a></p></footer>
