<nav class="pagination" role="pagination">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}">&larr; Newer posts</a>
    {{/if}}
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">Older posts &rarr;</a>
    {{/if}}
</nav>
