<menu class="post-meta">
    <div class="post-meta-data"><i class="icon-datetime"></i> {{date published_at timeago="true"}}</div>
    <!--<div class="post-meta-data"><i class="icon-shortlink"></i> <a href="#">BIT.LY/1ES1TCF</a></div>-->
    {{#if tags}}<div class="post-meta-data"><i class="icon-tags"></i> {{tags}}</div>{{/if}}
</menu>