<menu class="social-media-share">
    <a href="#" class="icon-facebook" rel="external" title="My Facebook"></a>
    <a href="#" class="icon-twitter" rel="external" title="My Twitter"></a>
    <a href="#" class="icon-googleplus" rel="external" title="My Google+"></a>
    <a href="#" class="icon-flickr" rel="external" title="My Flickr"></a>
    <a href="#" class="icon-linkedin" rel="external" title="My LinkedIn"></a>
    <a href="#" class="icon-pinterest" rel="external" title="My Pinterest"></a>
    <a href="#" class="icon-vimeo" rel="external" title="My Vimeo"></a>
    <a href="#" class="icon-github" rel="external" title="My GitHub"></a>
    <a href="#" class="icon-dribbble" rel="external" title="My Dribbble"></a>
    <a href="#" class="icon-stumbleupon" rel="external" title="My Stumbleupon"></a>
    <a href="#" class="icon-lastfm" rel="external" title="My Lastfm"></a>
    <a href="#" class="icon-rdio" rel="external" title="My Rdio"></a>
    <a href="#" class="icon-youtube" rel="external" title="My YouTube"></a>
    <a href="#" class="icon-mail" rel="external" title="My Mail"></a>
    <a href="#" class="icon-feed" rel="external" title="My RSS Feed"></a>
</menu>