<menu class="social-media-share">
    <a href="#" class="icon-facebook" rel="external" title="My Facebook"></a>
    <a href="#" class="icon-twitter" rel="external" title="My Twitter"></a>
    <a href="#" class="icon-flickr" rel="external" title="My Flickr"></a>
    <a href="#" class="icon-linkedin" rel="external" title="My LinkedIn"></a>
    <a href="#" class="icon-pinterest" rel="external" title="My Pinterest"></a>
    <a href="#" class="icon-vimeo" rel="external" title="My Vimeo"></a>
    <a href="#" class="icon-github" rel="external" title="My GitHub"></a>
</menu>