/**
 * 
 * Main structure.
 * 
**/

* {@include box-sizing(border-box);}

body, html {overflow-x:hidden; width:100%; height:100%}

body {
    background:$background-main; position:relative;
    &.nav-open {margin-left:15.75em}

    @include single-transition(margin, .5s, ease)
}

.wrapper {
    width:100%; margin:0 auto; padding:0 1em; position:relative; 
    @extend .clearfix;
}
.main-holder {height:100%}
#main-content {position:relative; height:100%}

#main {
    padding:0 3.75em; margin-left:50%;
    
    a {color:$text-color-link}
}



.post {
    margin-top:6.25em;
    
    &:first-of-type {margin-top:3.75em}
    &:last-of-type {padding-bottom:3.75em}

    img {@extend pre}
}

    .post-header {margin-bottom:3.125em; overflow:hidden}

    .post-meta {font-size:.6875em; color:$text-color-grey; text-transform:uppercase}
        .post-meta-data {
            padding-right:2.25em;
            @extend .pull-left;

            [class*="icon-"] {font-size:1.5em; color:$text-color-main; vertical-align:middle; margin:-2px 3px 0 0}
            
            &:last-of-type {padding:0; @extend .pull-right}
            &:only-of-type {padding:0; float:left !important}
        } 

.pagination {
    padding-top:.5em;
    
    .older-posts {float:right}
    .newer-posts {float:left}
}